@import "../../config/style-variables.scss";

.container {
  margin-top: 10rem;
  margin-bottom: 50px;

  h1 {
    font-family: "Zilla Slab";
    text-align: center;
    font-size: 3em;
  }
h4{
  font-family: "Zilla Slab";
  font-size: 1em;
}
  .actions {
    display: flex;
  }

  .button {
    margin-top: 1rem;
    margin-right: 1rem;
    width: fit-content;
    background-color: $primary;
    color: $bg-color;
    font-size: 1em;
    padding: 0.6em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: darken($primary, 5);
    }
  }
}
